body {
  font-family: Arial, sans-serif;
#map {
  width: 100%;
  overflow: auto;
}

#siteplan {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: auto;
}
svg {
  width: 100%;
  height: auto;
}

/* default kavling */
svg [id^="KR"] {
  cursor: pointer;
  transition: fill 0.2s, stroke 0.2s;
}

/* hover */
svg [id^="KR"]:hover {
  fill: #ffd54f !important;
  stroke: #ff6f00 !important;
  stroke-width: 2;
}


}
