body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#map {
  width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
}

#map svg {
  width: 100%;
  height: auto;
  display: block;
}

/* semua kavling */
#map g[id] {
  cursor: pointer;
  pointer-events: bounding-box;
}

/* hover kavling */
#map g[id]:hover * {
  fill: #ffd54f !important;
  stroke: #ff6f00 !important;
  stroke-width: 2;
}

/* text tembus mouse */
#map text {
  pointer-events: none;
}
