body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* container */
#map {
  width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
}

/* SVG responsive */
#map svg {
  width: 100%;
  height: auto;
  display: block;
}

/* semua kavling (KR, UJ, M, dll) */
#map g[id] * {
  cursor: pointer;
  transition: fill 0.2s ease, stroke 0.2s ease;
}

/* hover kavling */
#map g[id]:hover * {
  fill: #ffd54f !important;
  stroke: #ff6f00 !important;
  stroke-width: 2;
}

#map text {
  pointer-events: none;
}

#map g[id] rect,
#map g[id] path,
#map g[id] polygon {
  pointer-events: all;
}

