body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  margin: 16px;
}

#map {
  width: 100%;
  height: 80vh;
  overflow: auto;          /* PENTING */
  cursor: grab;
  border: 1px solid #ddd;
  margin-top: 16px;
  position: relative;
}

#map:active {
  cursor: grabbing;
}

#map svg {
  width: max-content;      /* WAJIB untuk zoom */
  height: max-content;
  display: block;
  user-select: none;
  transform-origin: 0 0;
}
