body {
font-family: Arial, sans-serif;
margin: 0;
}

h1 {
margin: 16px;
}

#map {
width: 100%;
height: 80vh; 
overflow: hidden;
  cursor: grab;
border: 1px solid #ddd;
margin-top: 16px;
position: relative;
}

#map:active {
  cursor: grabbing;
}
#map svg {
width: 100%;
height: 100%;
