body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#map {
  width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
}

#map svg {
  width: 100%;
  height: auto;
  display: block;
}
/* hanya kavling valid */
#map g[id^="KR"],
#map g[id^="UJ"],
#map g[id^="M"],
#map g[id^="Blok"] {
  cursor: pointer;
  pointer-events: bounding-box;
}

/* hover kavling valid */
#map g[id^="KR"]:hover *,
#map g[id^="UJ"]:hover *,
#map g[id^="M"]:hover *,
#map g[id^="Blok"]:hover * {
  fill: #ffd54f !important;
  stroke: #ff6f00 !important;
  stroke-width: 2;
}

/* text tembus mouse */
#map text {
  pointer-events: none;
}

